* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
  }
/*  1.Từ ngoài vào trong
            2. từ trên xuống dưới
            3. Tông quan đến chi tiết
            */
  /*  1. Vị trí
            2. Kích thước (wight, heigh
            3. Màu sắc
            4. kiểu dáng
        */
html {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .clear {
    clear: both;
  }
  
  .text-white {
    color: white !important;
  }
  #main {
  }
  #header {
    background-color: black;
    height: 46.5px;
    position: fixed; /*gắn header dính vài*/
    right: 0;
    top: 0;
    left: 0;
  }
  #nav {
    display: inline-block;
  }
  
  #nav,
  .subnav {
    list-style-type: none;
  }
  
  #nav > li {
    display: inline-block;
  }
  #nav li {
    position: relative;
  }
  /*na li a : tác động vào tất cả các thẻ con a*/
  #nav li a {
    text-decoration: none; /*khong gach chan*/
    padding: 0 24px; /*Tren duong =0, trai phai 24px*/
    line-height: 46.5px; /* bang voi chieu cao cua khung header*/
    display: block;
  }
  .nav-arrow-down {
    font-size: 12px;
  }
  
  #nav > li > a {
    /* nav > li > a: chỉ tác động vào thẻ con a cấp 1*/
    color: white;
    text-transform: uppercase;
  }
  #nav .subnav {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
  }
  
  #nav .subnav a {
    color: black;
    padding: 0 16px;
    line-height: 38px; /*có line phia trước là căn vào giữa*/
  }
  #nav .subnav li:hover a {
    color: black;
    background-color: #ccc;
  }
  #nav > li:hover .subnav {
    display: block;
  }
  #nav > li:hover > a {
    /*Chỉ tác động lên thẻ li và thẻ a*/
    color: black;
    background-color: #ccc;
  }
  /* hover a: con của thuộc tính a cũng được hover theo */
  /* #nav li:hover a {
          color: black;
          background-color: floralwhite;
        } */
  
  #header .search-btn {
    float: right;
    padding: 0 21px;
  }
  #header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
  }
  #header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer; /*Thay đổi thuộc tính*/
  }
  
  #slider {
    /* Dí chuột vào là hiện*/
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%; /*Đảm bảo kích thước chiều dọc bằng 50% kích thước chiều ngang*/
    background: url(/Project/w3_band/assets/img/chicago.jpg) top center / cover
      no-repeat;
    /*   
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat; Không lặp lại ảnh */
  }
  
  #slider .text-content {
    position: absolute;
    bottom: 47px;
    color: white;
    width: 100%;
  
    /* right: 0;
        left: 0; */
  
    /* left: 50%;
        transform: translateX(-50%); */
    text-align: center; /*Cho nó vào giữa*/
  }
  #slider .text-heading {
    font-size: 24px;
    font-weight: 600;
    /* padding-bottom: 25px; */
  }
  #slider .text-dicription {
    font-size: 15px;
    padding-top: 25px;
  }
  
  #content {
  }
  
  #content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  #content .content-heading {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 400; /*Làm giảm độ mỏng của chữ*/
    letter-spacing: 4px; /*Làm giãn cách các chữ trong text*/
    margin-bottom: 25px;
  }
  
  #content .content-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-bottom: 25px;
    font-style: italic; /*kiểu chữ nghiêng*/
    opacity: 0.6; /*Giảm mờ chữ từ 0 - 1*/
    font-family: "Lato", sans-serif;
  }
  
  #content .about-text {
    text-align: justify; /*2 đầu văn bản dính vào mép*/
    font-size: 15px;
    line-height: 1.5; /*Khoảng cách 2 dòng chữ*/
    font-family: "Lato", sans-serif;
  }
  
  #content .member-list {
    margin-top: 48px;
  }
  #content .member-item {
    float: left; /*Kéo sang bên trái*/
    width: calc(100% / 3);
    text-align: center;
  }
  
  #content .member-name {
    font-size: 15px;
  }
  #content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
  }
  
  .tour-section {
    background-color: black;
  }
  
  .ticket-list li {
    padding: 10.5px 16px;
    list-style: none; /*Bỏ dâu chấm tròn */
    font-size: 15px;
    font-family: "Lato", sans-serif;
    border-bottom: 1px solid #ddd;
    color: #757575;
  }
  
  /* .ticket-list > li > span {
      opacity: 0.6; 
    } */
  
  .ticket-list .Sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 2px 8px;
    margin-left: 16px;
  }
  
  .ticket-list .quanlity {
    float: right;
    color: #ccc;
    width: 24px;
    height: 24px;
    background-color: black;
    line-height: 24px; /*Căn giữa theo chiều cao*/
    text-align: center; /*Căn giữa theo ngang*/
    margin-right: 16px;
    border-radius: 50%; /*Tạo hình tròn*/
    margin-top: -3px;
  }
  .ticket-list {
    background-color: #fff;
    margin-top: 40px;
  }
  
  #content .places-list {
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px; /*Giúp dính lấy 2 mép*/
    padding-bottom: 48px;
  }
  
  #content .place-item {
    float: left;
    width: calc(100% / 3);
    padding: 0 8px;
  }
  #content .place-img {
    width: 100%; /*Cho kích thước của thẻ img bằng kích thước của thẻ place-item chứa nó*/
    display: block;
  }
  
  #content .place-img:hover {
    opacity: 0.6;
  }
  
  #content .place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
  }
  
  #content .place-heading {
    font-size: 15px;
    font-weight: 750;
    font-family: "Lato", sans-serif;
  }
  #content .place-time {
    margin-top: 15px;
    color: #757575;
  }
  #content .place-desc {
    margin-top: 15px;
    line-height: 1.4; /*Khoảng cách giữa các dòng */
    margin-bottom: 15px;
  }
  
  #content .place-buy-btn {
    background-color: black;
    color: white;
    text-decoration: none; /*khong gach chan*/
    padding: 10.5px 16px;
    display: inline-block;
    border: none;
    cursor: pointer;
  }
  
  #content .place-buy-btn:hover {
    color: black;
    background-color: #ccc;
  }
  
  #footer {
  }
  

  .modal.open{
    display: flex;    
  }
  
  .modal {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center; /*Thằng con nằm giữa chiều ngang của thằng cha*/
    justify-content: center;
  }
  
 
  .modal-container {
    background-color: #fff;
    width: 900px;
    position: relative;
  }
  
  .modal-header {
    font-size: 30px;
    font-family: "Segoe UI", Arial, sans-serif;
    height: 129px;
    width: 100%;
    background-color: #009688;
    display: flex;
    align-items: center; /*Thằng con nằm giữa chiều ngang của thằng cha*/
    justify-content: center;
    color: white;
    letter-spacing: 4px; /*Giãn chữ*/
  }
  
  .modal-header .ti-bag {
    margin-right: 16px;
  }
  
  
  .modal-close {
      position: absolute;
      right: 0;
      top 0;
      padding: 12px;
      color: white;
      font-family: "Lato", sans-serif;
      cursor: pointer; /*Tạo cảm giác bấm*/
  }
  
  .modal-close:hover{
      background-color: #ccc;
      /* opacity: 0.8; */
      color: black;
  }
  
  .modal-body {
      padding: 16px 16px;
  }
  
  .modal-label {
      display: block;
      font-size: 15px;
      font-family: "Lato", sans-serif;
      padding-bottom: 15px;
  }
  
  .modal-input {
      margin-bottom: 15px;
      display: block;
      border: 1px solid #ccc;
      font-family: "Lato", sans-serif;
      width: 100%;
      padding: 8px;
      font-size: 15px;
  }
  
  .buy-tickets{
      width: 100%;
      background-color: #009688;
      color: #fff;
      padding: 16px 0;
      border: none;
      text-transform: uppercase; /*Làm đậm chữ*/
  }
  
  .buy-tickets:hover{
      background-color: #ccc;
      color: black;
      cursor: pointer;
  }
  
  .modal-footer{
      padding: 15px;
      padding-bottom: 30px;
      font-family: "Lato", sans-serif;
      text-align: right; /*Đưa sang bên phải*/
  }
  .modal-footer > p > a{
      color: #2196F3;
  }

