/* Reset CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*  1.Từ ngoài vào trong
    2. từ trên xuống dưới
    3. Tông quan đến chi tiết
    */
/*  1. Vị trí
    2. Kích thước (wight, heigh
    3. Màu sắc
    4. kiểu dáng
*/
html {
  font-family: Arial, Helvetica, sans-serif;
}

#main {
}
#header {
  height: 46.5px;
  width: 100%;

  background-color: black;
  position: fixed; /*gắn header dính vài*/
}
#nav {
}

#nav > li > a {
  /* nav > li > a: chỉ tác động vào thẻ con a cấp 1*/
  color: white;
}

#nav li a {
  /*na li a : tác động vào tất cả các thẻ con a*/
  text-decoration: none; /*khong gach chan*/
  line-height: 46.5px; /* bang voi chieu cao cua khung header*/
  padding: 0 26px; /*Tren duong =0, trai phai 26px*/
  display: inline-block; /*treen cung mot dong*/
}

#nav > li:hover > a {
  /*Chỉ tác động lên thẻ li và thẻ a*/
  color: black;
  background-color: floralwhite;
}
/* hover a: con của thuộc tính a cũng được hover theo */
/* #nav li:hover a {
  color: black;
  background-color: floralwhite;
} */

#nav .subnav li {
  color: black;
}

#nav .subnav li :hover {
  color: black;
  background-color: floralwhite;
}

#nav li {
  display: inline-block; /*treen cung mot dong*/
  position: relative;
}

#nav .suvnav {
  display: block; /* khối || none : khong hien thi gi*/
  position: absolute;
  background-color: white;
}

#slider {
  /* Dí chuột vào là hiện*/
  min-height: 1000px;
  background-color: bisque;
}
#content {
}
#footer {
}
